
<section class="signupForm container-fluid">
   <div class="row">
    <div class="col-md-6">

    <!-- Add Modules -->

      <h4>Add Modules 
      <a href="" ng-click="moduleShow = !moduleShow">
        <span ng-show="moduleShow">Show Form</span>
        <span ng-show="!moduleShow">Hide Form</span>
        </a>
      </h4>
      <section ng-hide="moduleShow">
        <div class="form-group">
          <label for="moduleName">Module Name</label>
          <input type="text" required class="form-control" id="moduleName" ng-model="module.name">
        </div> 
        <div class="form-group">
          <label for="moduleWebsite">Module Website</label><br>
          <span>http://</span><input type="text" required style="width: 550px" id="moduleWebsite" ng-model="module.website">
        </div> 
        <div class="form-check">
          <button type="button" class="btn btn-primary" ng-click="SubmitModule(module)">Add Module</button>
        </div>
      </section>   

      <br><br>
      <!-- Add Users --> 

       <h4>Sign-Up
        <a href="" ng-click="signUpShow = !signUpShow">
          <span ng-show="signUpShow">Show Form</span>
          <span ng-show="!signUpShow">Hide Form</span>
          </a>
        </h4>        
        <section ng-hide="signUpShow" >
          <div class="form-group">
            <label for="fName">First Name</label>
            <input type="text" required class="form-control" id="fName" ng-model="user.fName">
          </div> 
          <div class="form-group">
            <label for="lName">Last Name</label>
            <input type="text" required class="form-control" id="lName" ng-model="user.lName">
          </div> 
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" required class="form-control" id="email" ng-model="user.email">
          </div> 
          <div class="form-group">
            <label for="moduleDrp">Module</label>
            <div class="dropdown">
              <!-- <select ng-model="user.moduleType">
                <option ng-repeat="mod in modules" ng-value="mod.name">
                {{mod.name}}  {{mod.group && mod.count ? " - Group "+mod.count+1 : " - Group "+1}}              
                </option>
              </select> -->
              <div class="dropdown">
                <button id="menu1" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{modType}}<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li ng-repeat="mod in modules" ng-click="setDrpDwn(mod)">{{mod.name}} 
                    <span ng-if="mod.group"> - Group {{mod.count ? mod.count+1 : 1}} </span> 
                  </li>
                </ul>
              </div>
            </div>
          </div> 
          <div class="form-check">
            <button type="button" class="btn btn-primary" ng-click="SubmitUsers(user)">Sign Up</button>
            </section>   

    </div>
  <div class="col-md-6">
    <h4>Module and groups</h4>

    <div class="list-group" ng-repeat="mod in modules | orderBy:'name'">
      <header class="list-group-item active">
        <h4>{{mod.name}} 
          <span ng-if="mod.group"> - Group {{mod.count ? mod.count+1 : '1'}} </span> 
        </h4>
      </header>
      <table class="table" ng-if="users.length" border="2">
        <thead class="thead-inverse">
          <tr>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="stud in users" ng-if="stud.moduleId == mod.id">
            <td>{{stud.fName}}</td>
            <td>{{stud.lName}}</td>
            <td>{{stud.email}}</td>
            <td>
              <button type="button" class="btn btn-warning" ng-click="removeUser(stud)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <p>
        <button type="button" class="btn btn-warning" ng-click="removeGroup(mod)"> <span class="glyphicon glyphicon-trash"></span>REMOVE GROUP</button>
    </div>
  </div>
</section>
<br><br><hr>
<footer align="center">&copy; 2017 CSULA.All Rights Reserved</footer>
